<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8">
  <title>ATC-классификация | Справочник Compendium.com.ua</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
 </head>
 <body>
  <div class="header">
    <strong>Компендиум</strong>
  </div>
  <div class="captionATC">
    <h1>ATC-классификация</h1>
  </div>
  <div class="search">
    <input v-model="term" type="search" id="searchATC" placeholder="Я ищу..." required/>
    <input type="button" id="searchBtn" onclick="app.js" value="Поиск">
  </div>
  <div v-for="result in results" class="result">
        <b>Название препарата:</b> {{result.drugName}}<br/>
        <br clear="left">
      </div>
  <div v-if="noResults">
        К сожалению поиск не дал результатов.
      </div>
      <div v-if="searching">
        <i>Поиск...</i>
      </div>
      <script src="app.js"></script>
  <div id="app">
     <tree-menu 
             :nodes="tree.nodes" 
             :depth="0"   
             :label="tree.label"
             ></tree-menu>
  </div>
  <script src="app.js"></script>
  <script type="text/x-template" id="tree-menu">
    <div class="tree-menu">
    <div class="label-wrapper" @click="toggleChildren">
      <div :style="indent" :class="labelClasses">
        <i v-if="nodes" class="fa" :class="iconClasses"></i>
        {{ label }}
      </div>
    </div>
    <tree-menu 
      v-if="showChildren"
      v-for="node in nodes" 
      :nodes="node.nodes" 
      :label="node.label"
      :depth="depth + 1"   
    >
    </tree-menu>
  </div>
  </script>
 </body>
</html>