.header {
	background-color: #FBBB01;
	color: #FFFFFF;
	font-size: 35px;
	height: 60px;
	text-align: center;
}

.captionATC {
	color: #FF0000;
	text-align: center;
}

#searchATC {
	margin-left: 50%;
}

#searchBtn {
	margin-left: 50%;
}